$def with (parames)
<!DOCTYPE html>
<html lang="zh-cn">

  $:render.layout.header(config.name)

<body>

  $:render.layout.navbar()

  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-9 i">
        <div class="input-group input-group-lg h">
          <input type="text" class="form-control" placeholder="fixmath search"/>
          <span class="input-group-btn">
            <div class="btn btn-primary">@search</div>
          </span>
        </div>
        <div class="k">
          <a target="_blank" href="/zh-cn/wiki/overview"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;索引</a>&emsp;&emsp;
          <a href="/zh-cn/game/index"><span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;Game</a>&emsp;&emsp;
          <a href="/zh-cn/svg/index"><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;Svg</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="navbar-fixed-bottom">
      
    $:render.layout.footer()

    $:render.layout.copyright()

  </div>

</body>
</html>