$def with (parames)

<!DOCTYPE html>
<html lang="zh-cn">

$:render.layout.header(parames)

<body>

    $:render.layout.navbar(parames)

    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-12" role="main">
                <div class="bs-docs-section">
                    <br />
                    <center>
                        <h2>巴科斯（Backus-Naur）范式</h2>
                    </center>
                    <br />
                    <ol class="breadcrumb doc-fontsize">
                        <li>
                            <a href="/zh-cn/wiki/index">Overview</a>
                        </li>
                        <li class="active">巴科斯（Backus-Naur）范式</li>
                    </ol>

                    <div class="bs-callout bs-callout-info">
                        <p class="lead">
                            巴科斯范式(BNF: Backus-Naur Form 的缩写)是由 John Backus 和 Peter Naur 首次引入一种形式化符号来描述给定语言的语法（最早用于描述ALGOL 60 编程语言）。
                        </p>
                    </div>

                    <div class="bs-callout bs-callout-info">
                        <h3>现在，几乎每一位新编程语言书籍的作者都使用巴科斯范式来定义编程语言的语法规则</h3>
                        <p class="lead">
                            确切地说，早在UNESCO（联合国教科文组织）关于ALGOL 58的会议上提出的一篇报告中，Backus就引入了大部分BNF符号。虽然没有什么人读过这篇报告，但是在Peter Naur读这篇报告时，他发现Backus对ALGOL 58的解释方式和他的解释方式有一些不同之处，这使他感到很惊奇。
                        </p>
                        <p class="lead">
                            首次设计ALGOL的所有参与者都开始发现了他的解释方式的一些弱点，所以他决定对于以后版本的ALGOL应该以一种类似的形式进行描述，以让所有参与者明白他们在对什么达成一致意见。他做了少量修改，使其几乎可以通用，在设计ALGOL 60的会议上他为ALGOL
                            60草拟了自己的BNF。
                        </p>
                        <p class="lead">
                            看你如何看待是谁发明了BNF了，或者认为是Backus在1959年发明的，或者认为是Naur在1960年中发明。
                        </p>
                        <p class="lead">
                            关于那个时期编程语言历史的更多细节，参见1978年8月，《Communications of the ACM（美国计算机学会通讯）》，第21卷，第8期中介绍Backus获图灵奖的文章。
                        </p>
                        <p class="lead">
                            这个注释是由来自Los Alamos Natl.实验室的William B. Clodius建议的。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    $:render.layout.footer()
    
    $:render.layout.copyright()

</body>

</html>